/*? Geral */
body{
    background-color: rgb(135, 183, 238);
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    margin: 0;
}
h1{
    color: rgb(223, 84, 228);
}
input{
    background-color: rgb(95, 128, 236);
    border-color: rgb(95, 128, 236);
}
input[type=submit]{
    font-family: monospace;
    background-color:  rgb(223, 84, 228);
    border-color:  rgb(223, 84, 228);
    font-size: 15px;
    padding: 5px 10px;
}
input[type=submit]:hover{
    transform: scale(1.1) ;
    transition-duration: 70ms;
}

/*? Home */
#menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color:  rgb(121, 179, 244);
}
.logo{
    margin-right: 10px;
    height: 100px;
}
.logo:hover{
    transform: scale(1.1) ;
    transition-duration: 70ms;
}
.botaologin{
    text-decoration: none;
    padding: 9px;
    border-radius: 15px;
    color: rgb(95, 128, 236);
    background-color: rgb(247, 133, 251);
    margin-right: 10px;
}
.botaologin:hover{
    transform: scale(1.1) ;
    transition-duration: 20ms;
}
#meio{
    width: 100%;
    height: auto;
    display: flex;
}
#pesquisas{
    width: 10%;
    padding-bottom: 10px;
    background-color: rgb(141, 190, 245);
    border-bottom-right-radius: 15px;
    height: 70%;
}
.titulopesq{
    font-size: 20px;
    font-weight: bold;
    color: rgb(95, 128, 236);
}
input[type=checkbox]{
    float: left;
}
#filtrar{
    background-color: rgb(95, 128, 236);
    border-color: rgb(95, 128, 236);
    padding: 3px 8px;
}
#produtos{
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
.produto{
    display: inline-block;
    margin: 25px;
    background-color:  rgb(106, 169, 241);
    height: 41%;
    width: 17%;
    padding: 7px;
    border-radius: 20px;
    vertical-align: text-top;
}
.produto:hover{
    transform: scale(1.1) ;
    transition-duration: 70ms;
}
.fotos{
    text-align: center;
}
.foto{
    width: 100%;
    border-radius: 20px;
}

/*? Pesquisa */
.resultado{
    width:25%;
    background-color:  rgb(106, 169, 241);
    display: inline-block;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}
.resultado:hover{
    transform: scale(1.1);
    transition-duration: 90ms;
}
.imgs{
    text-align: center;
}
.img{
    border-radius: 20px;
}
.texto{
    text-align: center;
}

/*? Login */
#bodylogin{
    text-align: center;
}

/*? Menu */
#bodymenu{
    text-align: center;
    margin-top: 30px;
}
.menu{
    background-color: rgb(223, 84, 228);
    color:  rgb(135, 183, 238);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}
